<app-aside></app-aside>
<div class="row">
 

<div class="col-9" style="margin-left: 270px;">
    <h1 class="text-center my-4">List of Promotions</h1>
    <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Promotion ID</th>
            <th scope="col">Ad Id</th>
            <th scope="col">Promo Type</th>
            <th scope="col">Email</th>
            <th scope="col">Card Number</th>
            <th scope="col">Expire date</th>
            <th scope="col">CVV</th>
            <th scope="col">Cardholder Name</th>
            <th scope="col">MFS</th>
            <th scope="col">MFS Number</th>
            <th scope="col">Transaction Number</th>
            <th scope="col">Sub Total</th>
            <th scope="col">Vat</th>
            <th scope="col">Total</th>

            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of promo">
            <th scope="row">{{a.promotionId}}</th>
            <td>{{a.adId}}</td>
            <td>{{a.promotionCategory}}</td>
            <td>{{a.email}}</td>
            <td>{{a.cardNumber}}</td>
            <td>{{a.expireDate}}</td>
            <td>{{a.cvv}}</td>
            <td>{{a.cardHolderName}}</td>
            <td>{{a.mfs}}</td>
            <td>{{a.mfsNumber}}</td>
            <td>{{a.tsNumber}}</td>
            <td>{{a.subTotal}}</td>
            <td>{{a.vat}}</td>
            <td>{{a.total}}</td>
          </tr>
        </tbody>
      </table>
  </div>
