<app-header></app-header>

<div class="container">
    <div>
        <h1 class="text-center py-5">Talking About Billboard</h1>
        <p>Billboard is a large outdoor advertising structure that presents large advertisements to passing pedestrians
        and drivers. It is typically found in high-traffic areas such as alongside busy roads. This  is most  useful way to advertising a company</p>
    </div>
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <a class="text-decoration-none text-dark" href="">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="show-details" class="btn btn-info">show Details</a>
                </div>
                 </a>
              </div>
        </div>
    </div>
</div>