<app-aside></app-aside>
<div class="row mt-5">
    <div class="col-8 mt-3" style="margin-left: 350px;">
        <div class="row my-5" style="margin-left: 150px;">
            <div class=" ms-2 mt-3 col-2 bg-info p-2">
                <p class="text-center"> Newspaper Ads</p>
                <h3 class="text-center">12</h3>
            </div>
            <div class=" ms-4 mt-3 col-2 bg-primary p-2">
                <p class="text-center">Live Ads</p>
                <h3 class="text-center">7</h3>
            </div>
            <div class=" ms-4 mt-3 col-2 bg-success p-2">
                <p class="text-center">Promoted Ads</p>
                <h3 class="text-center">3</h3>
            </div>
            <div class=" ms-4 mt-3 col-2 bg-warning p-2">
                <p class="text-center">Vendors</p>
                <h3 class="text-center">10</h3>
            </div>

        </div>
        <div class="chart-container">
        <canvas  id="MyChart" >{{ chart }}</canvas>
    </div>
</div>
</div>