<nav class="navbar " style="background-color: rgba(0, 0, 0, 0.977);">
    <div class="container-fluid">
      <form class="input-group" style="width: 400px">
        <input type="search" class="form-control" placeholder="Type query" aria-label="Search" />
        <button class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark"
          style="padding: .45rem 1.5rem .35rem;">
          Search
        </button>
      </form>
      <div>
        <button class="btn btn-outline-info mx-2" routerLink="vendorsignup">Signup</button>
        <button class="btn btn-outline-success" routerLink="login">Login</button>
      </div>
    </div>
  </nav>
  
  <div class="grad-bar"></div>
  
  <nav class="navbar navbar-expand-lg" style="background-color: rgb(75, 122, 163);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CALL FOR AD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex justify-content-center">
          <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left:450px;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">All Ad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fw-20" href="billboard">Billboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="digital-billboard">Digital Billboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="newspaper">News Paper</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="tvc">TVC</a>
            </li>
  
          </ul>
        </div>
      </div>
      <button class="btn btn-warning" routerLink="post-ad">Post AD </button>
    </div>
  </nav>
  