<app-header></app-header>


<!-- Product Part -->

<div class="container">

    <h1 class="text-center py-5">Talking About Newspaper</h1>
    <p>News Paper is a large outdoor advertising structure that presents large advertisements to passing pedestrians
        and drivers. It is typically found in high-traffic areas such as alongside busy roads. This is most useful way
        to advertising a company</p>

    <div class="row">
        <div class="col-5 my-5">
            <h4 class="text-start"> Classified advertisements</h4>
            <form (submit)="saveData()" class="mt-3">
                <div class="mt-2">
                    <label for="firstname" class="form-label">Select Newspaper</label>
                    <select id="inputState" class="form-select" name="newspaperName" [(ngModel)]="np.newspaperName">
                        <option>Prothom Alo</option>
                        <option>Kaler Kontho</option>
                        <option>Bangladesh Pratidin</option>
                        <option>Jonokontho</option>
                        <option>Ittefaq</option>
                        <option>Somokal</option>
                        <option>Jugantor</option>
                        <option>The daily Star</option>
                        <option>The Bangladesh Today</option>
                        <option>Dhaka Tribune</option>
                    </select>
                </div>
                <div class="mt-2">
                    <label for="firstname" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="np.name">
                </div>
                <div class="mt-2">
                    <label for="firstname" class="form-label">Oraganization Name</label>
                    <input type="text" class="form-control" name="organizationName" [(ngModel)]="np.organizationName">
                </div>
                <div class="mt-2">
                    <label for="firstname" class="form-label">Phone</label>
                    <input type="text" class="form-control" name="phone" [(ngModel)]="np.phone">
                </div>
                <div class="mt-2">
                    <label for="firstname" class="form-label">Email</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="np.email">
                </div>
                <div class="mt-2">
                    <label for="firstname" class="form-label">Date (You want to Publish)</label>
                    <input type="date" class="form-control" name="publishDate" [(ngModel)]="np.publishDate">
                </div>
                <div class="mt-2">
                    <label for="firstname" class="form-label">Ad title</label>
                    <select id="inputState" class="form-select" name="adTitle" [(ngModel)]="np.adTitle">
                        <option>Rent</option>
                        <option>TO-LET</option>
                        <option>PURCHASE</option>
                        <option>SELL</option>
                        <option>Flat Sell</option>
                        <option>TUTION</option>
                        <option>AFFIDAVIT</option>
                        <option>MATRIMONIAL</option>
                        <option>OBITUARY/MOURN</option>
                        <option>DEATH ANNIVERSARY</option>
                        <option>MISSING</option>
                        <option>BIRTHDAY WISH</option>
                        <option>OTHERS</option>
                    </select>
                </div>
                <div class="mt-4">
                    <label for="firstname" class="form-label">Write Your Ad Here</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="adDescription"
                        [(ngModel)]="np.adDescription" rows="15"></textarea>
                </div>
                <div class="mt-4">
                    <label for="firstname" class="form-label fs-4">Rules Of Title Advertisement</label>
                    <p class="fs-5 bg-info p-3" style="text-align: justify;"> There are no spectacular titles in the
                        classified ads. The price of such advertisements is a
                        total of BDT <span class="bg-warning px-1"> 1450</span> for the first <span
                            class="bg-warning px-1">15</span> words and BDT <span class="bg-warning px-1">60</span> for
                        every subsequent word.
                        An additional <span class="bg-warning px-1"> 15%</span> VAT will be added to the advertising
                        price. Classified ads must be in a maximum of <span class="bg-warning px-1">40</span> words.</p>
                </div>
                <div class="mt-2">
                    <label for="firstname" class="form-label">Upload your Essential Document</label>
                    <input type="file" class="form-control" name="document" [(ngModel)]="np.document">
                </div>
                <div class="mt-3">
                    <button class="btn btn-success" type="submit">Submit Your Ad Request</button>
                </div>
            </form>
        </div>
        <div class="col-5  my-5">
            <h4 class="text-center">Sample advertising</h4>
            <div class="my-4 ms-2">
                <label for="firstname" class="form-label bg-info fs-2 px-2">বাড়ী ভাড়া</label>
                <p class="fs-5 bg-secondary p-3" style="text-align: justify;"> বাড়ী ভাড়া:প্লট XX, সোহরাওয়ার্দী এভিনিউ,
                    বারিধারা কূটনীতিক এলাকায় ৮ বেড, বাথ, কিচেন, ড্রইং, ডাইনিং ও অন্যান্য সুবিধা-পার্কিং (৩/৪টি),
                    ড্রাইভার রুম, গার্ডরুম, গার্ডেন ইত্যাদিসহ ৮ কাঠা প্লট ৫,০০০ বর্গফুটের একটি দোতলা বাড়ী ভাড়া হবে।
                    ফোন:০১৭৩XXXXXXX, ০১৭১XXXXXXXX।</p>
            </div>
            <div class="my-4 ms-2">
                <label for="firstname" class="form-label bg-info fs-2 px-2">ক্রয়</label>
                <p class="fs-5 bg-secondary p-3" style="text-align: justify;"> প্লট ক্রয়: রাজউকের পূর্বাচল উপশহরে যে কোন
                    সেক্টরে যে কোন সাইজের প্লট ক্রয় করিতে ইচ্ছুক। সম্মানিত প্লট বিক্রেতাগণ যোগাযোগ করুন। X ল্যান্ড
                    ট্রেডিং, বাড়ি-X, রোড-X, সেক্টর-X, উত্তরা, ঢাকা। ০১৭১XXXXXXX।</p>
            </div>
            <div class="my-4 ms-2">
                <label for="firstname" class="form-label bg-info fs-2 px-2">বিক্রয়</label>
                <p class="fs-5 bg-secondary p-3" style="text-align: justify;"> বিক্রয়: জরুরি ভিত্তিতে ধানমন্ডিতে বসবাসরত
                    একজন সিনিয়র ল' ইয়ারের (উকিল) সকল প্রকার আইন বিষয়ক বই ফার্নিচারসহ বিক্রয় করা হইবে, কেবলমাত্র
                    সংশ্লিষ্ট বিষয়ে আগ্রহী ব্যক্তিগণ যোগাযোগ করুন। মোবাইল: ০১৭XXXXXXXX, ০১৬XXXXXXXX।</p>
            </div>
            <div class="my-4 ms-2">
                <label for="firstname" class="form-label bg-info fs-2 px-2">পাত্রী চাই</label>
                <p class="fs-5 bg-secondary p-3" style="text-align: justify;"> পাত্রী চাই: ঢাকায় স্থায়ী সচ্ছল পরিবারের
                    শিক্ষিতা সুন্দরী লম্বা ধার্মিক পাত্রী চাই। ছেলে উত্তরায় বসবাসরত, হ্যান্ডসাম ইংলিশে মাস্টার্স (৩৪+)
                    Renown Group of Company তে অফিসার। যোগাযোগ: পিতা-০১৭XXXXXXXX।</p>
            </div>
            <div class="my-4 ms-2">
                <label for="firstname" class="form-label bg-info fs-2 px-2">টিউটর দিচ্ছি/নিচ্ছি</label>
                <p class="fs-5 bg-secondary p-3" style="text-align: justify;"> টিউটর দিচ্ছি/নিচ্ছি: O/A লেভেল (ম্যাথস,
                    ফিজিক্স, ক্যামিস্ট্রি, বায়োলজি, একাউন্টিং, ইকোনোমিক্স, বাংলা, ইংরেজী)/ওয়ান-দ্বাদশ/ বুয়েট/
                    স্কলাস্টিকা/ISD/DPS/সানিডেল লেডিসহ। ০১৭১XXXXXXX।</p>
            </div>
            <div class="my-4 ms-2">
                <label for="firstname" class="form-label bg-info fs-2 px-2">মৃত্যুবার্ষিকী</label>
                <p class="fs-5 bg-secondary p-3" style="text-align: justify;"> বিআইডব্লিউটিসির সাবেক কর্মকর্তা সৈয়দ
                    মোহাম্মদ সাজ্জাদের ৪র্থ মৃত্যুবার্ষিকী আজ। এ উপলক্ষে ঢাকার X উপজেলার X ইউনিয়নের আগলা গ্রামের হযরত
                    সৈয়দ মোকাররম আলী (র.) মাজার প্রাঙ্গণে আজ কোরআন খানি ও দোয়ার আয়োজন করা হয়েছে।</p>
            </div>
            <div class="my-4 ms-2">
                <label for="firstname" class="form-label bg-info fs-2 px-2">এফিডেভিট/ সংশোধনী </label>
                <p class="fs-5 bg-secondary p-3" style="text-align: justify;"> আমি মোহাম্মদ আব্দুল হাকিম গাজী, পিতা- মৃত
                    জোনাব আলী গাজী আমার দাখিল পরীক্ষার সনদের নাম সঠিক থাকলেও আমিল, ফাজিল ও কামিল সনদে ভুলবশত মোহাম্মাদ
                    আব্দুল হাকিম লিখা হয়েছে। প্রকৃতপক্ষে মোহাম্মাদ আব্দুল হাকিম গাজী হবে। যাহা বরিশাল নোটারি পাবলিক
                    আদালতে সংশোধন করা হয়েছে। যার নোটারি নাম্বার XXXX। নিবেদক মোহাম্মাদ আব্দুল হাকিম গাজী</p>
            </div>
        </div>
    </div>


</div>



<!-- Footer part -->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">watch</a></li>
                    <li><a href="#">bag</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>