<nav class="navbar " style="background-color: rgba(0, 0, 0, 0.977);">
    <div class="container-fluid">
        <form class="input-group" style="width: 400px">
            <input type="search" class="form-control" placeholder="Type query" aria-label="Search" />
            <button class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark"
                style="padding: .45rem 1.5rem .35rem;">
                Search
            </button>
        </form>
        <div>
            <a class="btn btn-outline-info mx-2" routerLink="vendorsignup">Signup</a>
            <a class="btn btn-outline-success" routerLink="login">Login</a>
        </div>
    </div>
</nav>
<div class="grad-bar"></div>
<nav class="navbar navbar-expand-lg" style="background-color: rgb(75, 122, 163);">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CALL FOR AD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex justify-content-center">
                <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left:450px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">All Ad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fw-20" href="billboard">Billboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="digital-billboard">Digital Billboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="newspaper">News Paper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="tvc">TVC</a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="btn btn-warning" routerLink="post-ad">Post AD </button>
    </div>
</nav>


<!-- Product Part -->

<div class="container">

    <h1 class="text-center py-5">Talking About Newspaper</h1>
    <p>News Paper is a large outdoor advertising structure that presents large advertisements to passing pedestrians
        and drivers. It is typically found in high-traffic areas such as alongside busy roads. This is most useful way
        to advertising a company</p>

    <div class="row">
        <div class="col-5 my-5">
            <h4 class="text-start"> Classified advertisements</h4>
            <form (submit)="saveData()" class="mt-3">
                <div class="mt-2">
                    <label for="firstname" class="form-label">Select Newspaper</label>
                    <select id="inputState" class="form-select" name="newspaperName" [(ngModel)]="np.newspaperName">
                        <option>Prothom Alo</option>
                        <option>Kaler Kontho</option>
                        <option>Bangladesh Pratidin</option>
                        <option>Jonokontho</option>
                        <option>Ittefaq</option>
                        <option>Somokal</option>
                        <option>Jugantor</option>
                        <option>The daily Star</option>
                        <option>The Bangladesh Today</option>
                        <option>Dhaka Tribune</option>
                    </select>
                </div>
                <div class="mt-2">
                    <label for="firstname" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="np.name">
                </div>
                <div class="mt-2">
                    <label for="firstname" class="form-label">Oraganization Name</label>
                    <input type="text" class="form-control" name="organizationName" [(ngModel)]="np.organizationName">
                </div>
                <div class="mt-2">
                    <label for="firstname" class="form-label">Phone</label>
                    <input type="text" class="form-control" name="phone" [(ngModel)]="np.phone">
                </div>
                <div class="mt-2">
                    <label for="firstname" class="form-label">Email</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="np.email">
                </div>
                <div class="mt-2">
                    <label for="firstname" class="form-label">Date (You want to Publish)</label>
                    <input type="date" class="form-control" name="publishDate" [(ngModel)]="np.publishDate" >
                </div>
                <div class="mt-2">
                    <label for="firstname" class="form-label">Ad title</label>
                    <select id="inputState" class="form-select" name="adTitle" [(ngModel)]="np.adTitle">
                        <option>Rent</option>
                        <option>TO-LET</option>
                        <option>PURCHASE</option>
                        <option>SELL</option>
                        <option>Flat Sell</option>
                        <option>TUTION</option>
                        <option>AFFIDAVIT</option>
                        <option>MATRIMONIAL</option>
                        <option>OBITUARY/MOURN</option>
                        <option>DEATH ANNIVERSARY</option>
                        <option>MISSING</option>
                        <option>BIRTHDAY WISH</option>
                        <option>OTHERS</option>
                    </select>
                </div>
                <div class="mt-4">
                    <label for="firstname" class="form-label">Write Your Ad Here</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="adDescription" [(ngModel)]="np.adDescription"
                        rows="15"></textarea>
                </div>
                <div class="mt-4">
                    <label for="firstname" class="form-label fs-4">Rules Of Title Advertisement</label>
                    <p class="fs-5 bg-info p-3" style="text-align: justify;"> There are no spectacular titles in the
                        classified ads. The price of such advertisements is a
                        total of BDT <span class="bg-warning px-1"> 1450</span> for the first <span
                            class="bg-warning px-1">15</span> words and BDT <span class="bg-warning px-1">60</span> for
                        every subsequent word.
                        An additional <span class="bg-warning px-1"> 15%</span> VAT will be added to the advertising
                        price. Classified ads must be in a maximum of <span class="bg-warning px-1">40</span> words.</p>
                </div>
                <div class="mt-2">
                    <label for="firstname" class="form-label">Upload your Essential Document</label>
                    <input type="file" class="form-control" name="document" [(ngModel)]="np.document">
                </div>
                <div class="mt-3">
                    <button class="btn btn-success" type="submit">Submit Your Ad Request</button>
                </div>
            </form>
        </div>
        <div class="col-5 my-5">
            <h4 class="text-center">Sample advertising</h4>

        </div>
    </div>


</div>



<!-- Footer part -->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">watch</a></li>
                    <li><a href="#">bag</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>