<app-header></app-header>
<div class="container">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" *ngFor="let b of proAd">
        <a routerLink="show-details/{{b.id}}">
        <img src="../../../assets/image/{{b.title_image}}" class="d-block w-100" alt="..." style="height: 670px;">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-light">{{b.title}}</h5>
          <p class="text-light">{{b.other_details}}</p>
        </div>
      </a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<!-- Product Part -->
<div class="container">
  <div class="row g-3 mt-5 ">
    <div class="col-3" *ngFor="let a of ad">
        <div class="card">
          <a class="text-decoration-none text-dark" routerLink="show-details/{{a.id}}">
            <img src="../../../assets/image/{{a.title_image}}" class="card-img-top" alt="" height="200px">
            <div class="card-body">
              <h5 class="card-title" style="height:50px;">{{a.title}}</h5>
              <p class="card-text" style="height:50px;">{{a.other_details}}</p>
              <a routerLink="show-details/{{a.id}}" class="btn btn-info mt-2">View Details</a>
            </div>
          </a>
      </div>
    </div>
  </div>
</div>



<!-- Footer part -->


<app-footer></app-footer>
